body{
    height: 100vh;
    display: flex;
    align-items: center;
    background: linear-gradient(to left, #77A1D3, #79CBCA, #E684AE);
    background-size: 400% 400%;
    animation: changebg 4s infinite;
}
canvas{
    display: block;
    margin: 0px auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
@keyframes changebg{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}